@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SunflowersBookingSystem.Web.Pages.Users.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
@*@{
    <a asp-controller="Users"
   asp-action="LogOut">LogOut</a>
<a class="btn btn-primary btn-lg" href="https://localhost:7173/api/v/Users/GetAll" role="button">GetAll</a>
}*@<div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    @if (string.IsNullOrEmpty(Model.LoggedUser.ProfilePicture))
                    {
                    <img class="profile-picture" src="~/images/profileDefault.png"/>
                    } else {
                    <img class="profile-picture" src="~/images/@Model.LoggedUser.ProfilePicture" />
                    }
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h4>
                        @Model.LoggedUser.FirstName @Model.LoggedUser.SecondName
                    </h4>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Personal Info</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">My Reservations</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.LoggedUser.Email</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.LoggedUser.FirstName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Second Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>@Model.LoggedUser.SecondName</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                    @if (@String.IsNullOrEmpty(Model.LoggedUser.Phone))
                                    {
                                        <br/>
                                    } else {
                                        @Model.LoggedUser.Phone
                                    }
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Country</label>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                    @if (@String.IsNullOrEmpty(Model.LoggedUser.Country))
                                    {
                                        <br />
                                    }
                                    else
                                    {
                                        @Model.LoggedUser.Country
                                    }
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                            @if (!Model.LoggedUser.Reservations.Any())
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Reservations</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>You have not made any reservations yet. You can make one now in the
                                        <a style="font-size: 25px" asp-controller="Calendar" asp-action="Index" asp-route-month="@DateTime.Now.Month">callendar</a>
                                    </p>
                                    </div>
                                </div>
                            }  
                            
                            else 
                            {
                                foreach (var reservation in Model.LoggedUser.Reservations)
                                {
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Reservation</label>
                                        </div>
                                        <div class="col-md-6">
                                        <p>From @reservation.StartDate.ToShortDateString() untill @reservation.EndDate.ToShortDateString()</p>
                                        </div>
                                    </div>
                                }                                
                            }
                            
                        </div>
                    </div>
                </div>
            <div class="col-md-2">
                </br>
                <a class="btn btn-primary btn-block" asp-controller="Users" asp-action="Update" asp-route-id="@Model.LoggedUser.Id">
                    Edit
                </a>
            </div>
            </div>
            
        </div>
</div>
