@page
@using System.Globalization
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SunflowersBookingSystem.Web.Pages.Calendar.IndexModel
@{
}

<h2>Please click on the date you want to make your reservation!</h2>
<div class="container">

    <div id="collapse" class="show">
        <form method="post">
            <div  class="form-outline mb-4 align-self-center">
                <label class="form-label" for="comment">Comment</label>
                <input type="text" id="comment" asp-for="Comment" class="form-control-sm" />
            </div>

            <div  class="form-outline mb-4 align-self-center">
                <label class="form-label" for="startDate">Start</label>
                <input class="form-control-sm" type="date" id="startDate" asp-for="StartDate" />
            </div>

            <div  class="form-outline mb-4 align-self-center">
                <label class="form-label" for="endDate">End</label>
                <input class="form-control-sm" type="date" id="endDate" asp-for="EndDate" />
            </div>

            <div class="form-outline mb-4 align-self-center">
                <label class="form-label" for="arrivalTime">Arrival Time</label>
                <input class="form-control-sm" type="time" id="arrivalTime" asp-for="ArriveTime" />
                
                <input hidden type="number" id="month" asp-for="Month"/>
                <button type="submit" class="btn btn-primary btn-block">Make Reservation</button>
            </div>

        </form>
    </div>
    <br/>
    @for (int i = 1; i < 13; i++)
    {
        <a asp-controller="Calendar" asp-action="Index" asp-route-month=@i>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</a>
    }
    <div class="row">
        @for (int i = 0; i < Model.Days.Count && i < 10; i++)
        {
            string state = @Model.Days[i].State.GetType().Name;
            <div class="col-md-2 col-xl-1" onclick="toggle(this)">
                <div class="card @if(state == "EmptyState"){
            <text>bg-c-blue</text>
}else if(state == "HalfFullState"){
            <text>bg-c-yellow</text>
}else if(state == "FullState"){
            <text>bg-c-red</text>
} order-card">
                    <div class="card-block">
                            <h6 class="m-b-20">Free Rooms: @Model.Days[i].State.FreeRooms</h6>
                        <h6 class="text-right"><i class="fa fa-cart-plus f-left"></i><span id="date@i">@Model.Days[i].Date.ToString("d/M/yy")</span></h6>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="row">
        @for (int i = 10; i < Model.Days.Count && i < 20; i++)
        {
            string state = @Model.Days[i].State.GetType().Name;
            <div class="col-md-2 col-xl-1" onclick="toggle(this)">
                <div class="card @if(state == "EmptyState"){
            <text>bg-c-blue</text>
}else if(state == "HalfFullState"){
            <text>bg-c-yellow</text>
}else if(state == "FullState"){<text>bg-c-red</text>} order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Free Rooms: @Model.Days[i].State.FreeRooms</h6>
                        <h6 class="text-right"><i class="fa fa-cart-plus f-left"></i><span id="date@i">@Model.Days[i].Date.ToString("d/M/yy")</span></h6>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="row">
        @for (int i = 20; i < Model.Days.Count; i++)
        {
            string state = @Model.Days[i].State.GetType().Name;
            <div class="col-md-2 col-xl-1" onclick="toggle(this)">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Free Rooms: @Model.Days[i].State.FreeRooms</h6>
                        <h6 class="text-right"><i class="fa fa-cart-plus f-left"></i><span id="date@i">@Model.Days[i].Date.ToString("d/M/yy")</span></h6>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<script language="JavaScript" type="text/javascript" src="~/js/calendar.js" asp-append-version="true"></script>